@model IEnumerable<MyAspNetCoreWebPage.Models.Adress>

@{
  ViewData["Title"] = "Index";

<h2>Index</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VoorNaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AchterNaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Straat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plaats)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
         <tr>
            <td>
               @Html.DisplayFor(modelItem => item.VoorNaam)
            </td>
           <td>
                @Html.DisplayFor(modelItem => item.AchterNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Straat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plaats)
            </td>
        </tr>
}
    </tbody>
</table>
}
